body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgb(226, 125, 125);
}

h1 {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: yellow;
}
h2 {
    color: rgb(225, 216, 216);
}
p {
    color: #f7f1f1;
}

#main-content {
    background: rgb(208, 115, 115);
    width: 80%;
    margin: auto;
    text-align: center;
    border: 2px solid white;
}
