/* Main Structure */
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: red;
    color: white;
}

#main-content {
    background: rgb(233, 231, 231);
    width: 80%;
    margin: auto;
    padding: 5px 20px;
}
#main-header {
    background-color: rgb(225, 107, 200);
}
#content {
}
#main-footer {
}

/* Navigation Bar */
#main-nav {
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid white;
    background: pink;
}
#main-nav ul {
    padding-left: 0;
}
#main-nav a {
    text-decoration: none;
}
/* Typography */
#main-header h1 {
    text-align: center;
    padding-top: 10px;
}
/*Gallery*/
#gallery section {
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
#gallery section h3 {
}

/*Larger Devices*/
@media (min-width: 768px) {
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
}
