body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(51, 84, 25);
}

.calculator {
    background-color: rgb(34, 81, 134);
    padding: 20px;
    border-radius: 10px;
}

.screen {
    width: 224px;
    background-color: rgb(118, 121, 27);
    font-size: 40px;
    text-align: end;
    padding: 4px;
    overflow: scroll;
}

.buttons {
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}

button {
    color: rgb(16, 8, 8);
    background-color: rgb(108, 98, 98);
    border: none;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;
}

button:hover {
    background-color: #423b3b;
}

button:active {
    background-color: #1a5969;
}

#equals {
    background-color: #af0615;
}

#equals:hover {
    background-color: #77030c;
}


#clear {
    width: 100%;
    font-size: 30px;
    background-color: #ea7b2b;
}

#clear:hover {
    background-color: #944e1b;
}
