/*Structure*/

/* body {
    background:url(images/exercise2.webp);
    font-family: Arial, Helvetica, sans-serif;
} */

/*
#content {
    background: white;
    width: 70%;
    margin: auto; 
    padding: 5px;
    border: 1px solid yellowgreen;
    border-radius: 5%;
    box-shadow: 10px 10px darkgoldenrod;
}
*/
