/*Sources: ChatGPT, Coding ALL-IN-ONE by Chris Minnick, W3Schools*/

:root {
	--body: #f4f4f4;
	--toggle-a: darkred;
	--content00: white;
	--content01: black;
	--heart: grey;
	--menu--hover: blue;
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: var(--body);
}

.container {
	margin-top: 50px;
}

footer {
	padding: 10px;
}


.content {
	display: none;
	background: var(--content01);
	color: var(--content00);
	width: 300px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
}

img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 10px auto;
	
}

/*Game section*/
.game {
	background: #423b3b;
	padding: 5px;
	border-radius: 5px;
}


/*Typography*/
#main-nav-items {
	font-size: 1.2em;
}

.hidden {
	display: none;
}

.hide {
	visibility: hidden;
}


.section {
	display: none;
	margin-top: 20px;
	width: 50%;
	margin: 0 auto;
	background-color: var(--heart);
	padding: 10px;
}


/*Larger Resolution*/
@media (min-width: 900px) {
	#main-nav-items, .form-element {
	display: flex;
	}
	
	#main-nav-items li {
		flex: 1;
	}
}

