/*Current Date: 2-3-2025*/
/*Jessie Brown*/
/*Beginning StyleSheet*/
body {
    background-color: rgb(55, 43, 43);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid rgb(34, 27, 27);
    box-shadow: 10px 10px 10px 10px lightblue;
    padding: 4px;
    height: 800px;
}

hr {
    width: 96%;
    color: rgb(250, 249, 249);
    margin: 20px auto;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
}

.person {
    margin: 0 auto;
}

.work {
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid black;
    width: 10%;
    margin: 0 auto;
}

.me {
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid black;
    width: 20%;
    margin: 0 auto;
}

.about {
    text-align: center;
}

.contact {
    border: 2px solid black;
    width: 40%;
    margin: 0 auto;
    text-align: left;
    padding-left: 28px;
}

.class {
    margin: 0;
}

.skills {
    text-align: center;
}

.assign {
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid black;
    width: 35%;
    margin: 0 auto;
    padding: 0;
}

.projects {
    text-align: center;
}

.bodyp {
    text-align: left;
    padding-left: 25px;
}

.bodyp p, #p1 {
    color: rgb(214, 225, 234);
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyp h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#p1 {
    text-align: left;
    font-size: 14px;
    margin: 0;
    position: relative;
    bottom: 2px;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 0 0 0 20px;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
}
/*Ending StyleSheet*/