body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-image: url(images/the-grand-canyon.webp);
    background-size: cover;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}
img {
    margin: auto;
    padding: 20px;
    border: 4px solid rgba(0, 0, 0, 0.482);
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: yellow;
}
h2 {
    color: rgb(0, 0, 0);
}
p {
    color: #000000;
}
#table {
    background-color: rgba(207, 189, 120, 0.562);
    width: 80%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.482);
    padding: 10px;
}
#main-content {
    background: rgba(225, 229, 196, 0.34);
    width: 80%;
    margin: auto;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.29);
}
