/*!Structure*/
body {
    font-family:'Merriweather', serif;
    padding: 0;
    margin: auto;
}

#content {
    margin: auto;
    border-radius: 5px; 
}

header {
    background: black;
    color: white;
    position:relative;
    padding: 10px 0;
    padding-bottom: 0px;
}

footer {
    color: white;
    position:relative;
    padding: 20px 0;
}

#columns {
    padding: 20px;
    align-items: center;
    padding-top: 0px;
    padding-left: 50px;
}

.title h1 {
    font-size: 32px;
    color: white;
    background-color: #70000a;
    margin: 0;
    padding: 0 0 6px 0;
}

.main-title a {
    position: relative;
    text-decoration: none;
    color: white;
    left: 473px;
}

.big-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.big-image img {
    width: 100%;
    max-width: 1110px;
    height: auto;
}

.big-image p {
    padding: 5px;
    background: white;
    color: black;
}

.big-image a {
    color: #70030c;
}

.columns {
    width: 1588px;
}

.column {
    width: 70%;
}

.header1 {
    text-align: justify;
    width: 500px;
    position: relative;
    left: 230px;
}

.header2 {
    text-align: right;
    width: 130px;
    position: relative;
    left: 100px;
    border: 2px solid white;
    height: 45px;
}

.columns p {
    top: 50;
    right: 20;
    text-align: right;
}

.news-img {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    position: relative;
    left: 760px;
    padding-top: 0px;
    margin-top: 6px;
}

.news-sma {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.news {
    padding: 5px;
}

.news p {
    text-align: justify;
    padding-left: 770px;
}

.news h3, .news h4 {
    text-align: justify;
    padding-left: 770px;
    color: #70030c;
    margin-top: 0px;
    margin-bottom: 10px; 
}

.space {
    width: 800px;
    text-align: justify;
    padding-left: 789px;
}

.space hr {
    width: 800px;
    object-position: right;
    color: lightgrey;
}

.news hr {
    padding-left: 279px;
    width: 400px;
    color: lightgray;
    padding-right: 200px;
    margin-right: 400px;
    margin-bottom: 0px;
}

.more-news {
    text-align: right;
    padding-bottom: 100px;
    padding-right: 400px;
}

#up-footer h1 {
    color: black;
    margin-bottom: 0px;
    padding-left: 200px;
}

#up-footer, #low-footer {
    text-align: center;
    background-color: white;
    padding: 20px 0;
}

#up-footer footer {
    background-color: aliceblue;
    width: 100%;
}

#low-footer footer {
    /*background-color: #9e121d;*/
    text-align: justify;
    background-color: none;
}

.foot {
    width: 0;
}

/*Logo*/
.main-logo {
    left: 246px;
    position: relative;
    border: 1px solid white;
    top: 30px;
}

/*!Main Navigation*/
#main-nav {
    top: 0;
    right: 678px;
    position: absolute;
    font-size: 10px;
}

#main-nav ul {
    padding-left: 0%;
    display: -webkit-box;
}

#main-nav li {
    list-style-type:none; /*remove bullets from list*/
    text-align: center;
    margin: 0 5px;
}

#main-nav a {
    color: white;
    text-decoration: none;
}

#main-nav a:hover {
    background-color: crimson;
    color: white;
}

/**Sub Navigation*/
#sub-nav {
    top: 0;
    right: 400px;
    position: absolute;
    font-size: 10px;
}

#sub-nav a {
    color: white;
    text-decoration: none;
}

#sub-nav ul {
    padding-left: 0%;
}

#sub-nav li {
    list-style-type:none; /*remove bullets from list*/
    text-align: center;
    margin: 0 5px;
}

#sub-nav a:hover {
    background-color: crimson;
    color: white;
}

/**Body Navigation*/
#body-nav li {
    top: 200;
    list-style-type: none;
    text-align: justify;
    padding: 4px;
}

#body-nav a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    border-spacing: 10px;
}

#body-nav ul {
    padding-left: 460px;
 }

/**Foot Navigation*/
#foot-nav {
    position: absolute;
    font-size: 10px;
    top: 40px;
    right: 0px;
}

#foot-nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding-left: 0%;
}

#foot-nav a {
    color: black;
    text-decoration: none;
}

#foot-nav li {
    list-style-type:none; /*remove bullets from list*/
    text-align: center;
    margin: 0 5px;
    text-size-adjust: 12px;
}

#foot-nav a:hover {
    color: white;
}

/**Flex Navigation*/
.flex-container02 li {
    list-style-type: none;
}

/**Body Navigation*/
#body-nav a:hover {
    color: white;
}

/*!Typography*/
.box h1 {
    font-family: "Berlingske Sans Extracondensed", "Impact", sans-serf;
    font-weight: 800;
    letter-spacing: .8px;
    line-height: 1;
    padding-top: 2px;
}

.more-news a {
    text-decoration: none;
    color: #70030c;
}

footer p {
    text-align: center;
}

.header-logo a {
    text-decoration: none;
    left: 310px;
    position: relative;
    color: white;
    top: -26px;
}

footer a {
    text-decoration: none;
    color: white;
}

#low-footer {
    margin-top: 20px;
    height: 200px;
}

.foot-img a {
    padding-left: 47px;
    position: relative;
    font-size: 30px;
}

.header02 p {
    text-align: right;
}

.big-image a {
    font-family:"Berlingske Sans Extracondensed", "Impact", sans-serif;
    text-decoration: none;
    font-size: 38px;
}

.big-image img {
    width: 1000px;
    height: 550px;
    padding-right: 5px;
}

.line {
    width: 500px;
    object-position: 50%;
}

.node p {
    text-align: center;
}

.node a {
    text-decoration: none;
    color: #70030c;
}

.middle-section {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}


/*?Low Footer*/
.flex-container {
    width: 1640px;
    height: 700px;
    margin: 0 auto;
}

.flex-container01 {
    width: 1600px;
    height: 300px;
    margin: 0 auto;
}

.col1 {
    width: 800px;
}

.foot-img {
    padding-left: 200px;
}

.img-logo {
    left: 200px;
    top: 30px;
    position: relative;
}

.end-foot {
    position: relative;
    bottom: 0px;
    top: 500px;
    background-color: black;
}

.img01, .img02, .img03 {
    padding: 10px;
}

.col {
    width: 2300px;
    height: 320px;
    background-color: #70000a;
    padding: 1px;
    text-align: center;
    border-radius: 10px;
}

.col1of2 {
    width: 400px;
    height: 230px;
    text-align: center;
}

.col2of2 {
    width: 200px;
    height: 230px;
    text-align: center;
}

.col1of1 {
    width: 100px;
    height: 230px;
    text-align: center;
}

.flex-container02 a {
    text-decoration: none;
}

.flex-container02 a:hover {
    color: #bd2d39;
    color: white;
}
/*?Low Footer End*/

/*!Larger Screens*/
@media only screen and (min-width: 768px) {  
    .header {
        display: flex;
        align-items: baseline;
    }

    .header01 {
        flex: 2;
    }

    .header02 {
        flex: 3;
    }

    .columns {
        display: flex;
    }

    .news-sma {
        flex-wrap: wrap;
    }

    /*?Low Footer*/
    .flex-container04 {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: baseline;
    }
    
    .flex-container03 {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: baseline;
    }
    
    .flex-container02 {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
    }
    
    .flex-container01 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }    
    /*?Low Footer End*/

    #main-nav li {
        flex: 1;
    }

    #sub-nav li {
        flex: 1;
    }

    #body-nav li {
        flex-basis: 30%;
    }

    #foot-nav li {
        flex: 1;
    }

    .gallery {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .node {
        flex-basis: 15%;
    }

    .box {
        position: absolute;
        bottom: 640px;
        left: 500px;
        border-left: 4px solid #70030c;
        background-color: white;
        padding-left: 20px;
        text-align: left;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .col3 {
        flex: 3;
    }

    .col2 {
        flex: 2;
    }

    .collast {
        flex: 1;
    }

    .main-img {
        display: flex;
        justify-content: center;
        flex-shrink: 5;
    }

}