/*Jessie Brown*/
/*Beginning style sheet*/

/*!structures whole page*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(images/waterfall.jpeg);
    
}

/*!about section*/
#about {
    background: #FFA07A;
    width: 70%;
    margin: auto;
    padding: 30px;
    border: 1px solid #f58458;
    border-radius: 5%;
    box-shadow: 10px 10px #d08364;
}

.col1of3 {
    background-color: #004B4B;
    padding: 5px;
    margin: 0 auto;
    border-radius: 3px;
    padding-right: 2px;
}

.col1, .col2, .col3 {
    padding-left: 0px;
    margin: auto 0;
    padding-right: 10px;
}

/*!navigation section*/
#main-nav ul {
    padding-left: 0%;
}

/* removes bullet*/
#main-nav li {
    list-style: none;
    display: inline-block;
}

/*adds color when hover*/
#main-nav a:hover {
    color: white;
    border-bottom: 1px solid #D3D3D3; 
}

/*change text color and removes underline*/
#main-nav a {
    color: #007A7A;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

/*!typography section*/
/*header title color*/
#main-header h1 {
    text-align: center;
    color: #004B4B;
}

.col1of3 a {
    text-decoration: none;
    color: white;
    
}

/*header assign. color*/
#main-header h2 {
    color: #2F4F4F;
    text-align: center;
}

/* realigning links*/
#main-header ul {
    text-align: center;
}

/*main name color*/
#main h3 {
    color:#333333;
    text-align: center;
}

/*main paragraph color*/
#main p {
    text-align: center;
    color: #004B4B;
}

/*footer color*/
#main-footer, .col1of3  {
    text-align: center;
    color: black;
}

main img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 150px;
    padding-left: 0px;
    padding: 2px;
}


/*!Flexbox section*/
@media (min-width: 900px) {
    #main-nav ul, .flex-container {
        display: flex;
    }
    #main-nav, .col1of3 {
        flex: 1;
    }
}



/*Ending style sheet*/