/*Jessie Brown*/
/*Beginning style sheet*/

/*!structures whole page*/
:root {
    --main-background-color: #e89173;
    --nav-color: #007A7A;
    --border: #f58458;
    --box-shadow: #d08364;
    --col-color: #004B4B;
    --nav-hover: white;
    --nav-border: #D3D3D3;
    --main-header: #2F4F4F;
    --main-h3: #333333;
    --footer: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(images/waterfall.jpeg);
}

/*!about section*/
#about {
    background: var(--main-background-color);
    width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 5%;
    box-shadow: 10px 10px var(--box-shadow);
}

.col1of6, .col1of3 {
    background-color: var(--col-color);
    padding: 5px;
    margin: 0 auto;
    border-radius: 3px;
}

.col1, .col2, .col3, .col4, .col5, .col6 {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.colpro1, .colpro2, .colpro3 {
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.col1, .col2, .col3, .colpro1, .colpro2, .colpro3, .col4, .col5, .col6 {
    padding-left: 0px;
    margin-top: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*!navigation section*/
#main-nav ul {
    padding-left: 0%;
}

/* removes bullet*/
#main-nav li {
    list-style: none;
    display: inline-block;
}

/*adds color when hover*/
#main-nav a:hover {
    color: var(--nav-hover);
    border-bottom: 1px solid var(--nav-border);
}

/*change text color and removes underline*/
#main-nav a {
    color: var(--nav-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

/*!typography section*/
/*header title color*/
#main-header h1 {
    text-align: center;
    color: var(--col-color);
}

.col1of6 a, .col1of3 a {
    text-decoration: none;
    color: var(--nav-hover);
}

/*header assign. color*/
#main-header h2, #main-content h2 {
    color: var(--main-header);
    text-align: center;
}

/* realigning links*/
#main-header ul {
    text-align: center;
}

/*main name color*/
#main h3 {
    color: var(--main-h3);
    text-align: center;
}

/*main paragraph color*/
#main p {
    text-align: center;
    color: var(--col-color);
}

/*footer color*/
#main-footer, .col1of6, .col1of3  {
    text-align: center;
    color: var(--footer);
}

main img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 150px;
    padding-left: 0px;
    padding: 2px;
}

/*!Flexbox section*/
@media (min-width: 900px) {
    #main-nav ul, .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    #main-nav, .col1of6, .colpro1, .colpro2, .colpro3 {
        flex: 1;
    }
    
    .flex-container02 {
        display: flex;
        padding: 5px;
    }
}
/*Ending style sheet*/