/*Jessie Brown*/
/*Beginning stylesheets*/

/*!structure section*/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   background: url(images/forest.jpeg);
}

/*!about section*/
#about {
    background: rgb(232, 250, 244);
    width: 55%;
    margin: auto;
    padding: 22px;
    border: 2px solid rgb(190, 202, 198);
    border-radius: 6%;
    box-shadow: 6px 7px rgb(152, 163, 159);
    box-shadow:none transparent;
}

/*!navigation section*/
#main-nav ul {
    padding-left: 0;
}

/*remove bullet from link*/
#main-nav li {
    list-style: none;
    display: inline-block;
}

/*add a color over hover*/
#main-nav a:hover {
    color: #D4AF37;
    border-bottom: 1px solid #c3a131;
}

/*change text color and remove underline from links*/
#main-nav a {
    color: #7a9b9b;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

/*!typography section*/
/*header title color*/
header h1 {
    text-align: center;
    color: #A9DFBF;
}

/*header align to center and change color*/
header h2 {
    color: #5e9875;
    text-align: center;
}

/* header link align to center*/
header ul {
    text-align: center;
}

/*main slogan color*/
main h3 {
    color: #A9DFBF;
    text-align: center;
}

/*main paragraph color*/
main p {
    text-align: center;
    color: #c3a131;
}

/*main image color and size*/
main img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border: 1px solid #c3a131;
    border-radius: 5%;
    box-shadow: 2px 3px #a9dfbf;
    box-shadow:none transparent;
}

/*main table color and border*/
main table {
    display: block;
    margin: 0 auto;
    width: 500px;
    padding: 55px;
    height: auto;
    border: 1px solid #a4872a;
    border-radius: 5%;
    box-shadow: 2px 4px #96c5a9;
    box-shadow: none transparent;
}

main tr {
    color: #5e9875;
}

/*footer color*/
footer p {
    text-align: center;
    color: black;
}
/*Ending stylesheets*/